{% extends "indexbase.html" %}
{% block title %}
Page Not Found | Conflict Gateway
{% endblock %}
{% block description %}
404 Page Not Found. 
{% endblock %}
{% block indexcontent %}
             <div class="col-md-12 well articlewell">
                <div class="boxtitle">
                <p align="center" style="margin-top:10px;">Oops! The page you were looking for could not be found. This is known as a '404 error' (we're not sure what the other 403 errors are).
                It may be that the address was not entered correctly, or is out of date (or it could be a technical issue our end).</p>
                </div>
            </div>   
{% endblock %}

