{% extends "indexbase.html" %}
{% block title %}
Directory | Conflict Gateway
{% endblock %}
{% block description %}
Mediation & Conflict Resolution Diectory. Search our comprehensive database of Conflict Resolution organizations.
{% endblock %}
{% block indexcontent %}
             <div class="col-md-12 well articlewell">
                <div class="boxtitle">
                <p align="center" style="margin-top:10px;">Directory Coming Soon</p>
                </div>
            </div>   

<!-- Navbar active tab selector -->
<script>
    $("#directorytab").addClass('active');
</script>
{% endblock %}

